.swipeButtons {
  position: fixed;
  bottom: 7vh;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

/* inspect css and get this class */
.swipeButtons .MuiIconButton-root {
  background-color: white;
  box-shadow: 0px 18px 53px 0px rgba(0, 0, 0, 0.3);
}

.swipeButtons__repeat {
  padding: 1vw !important;
  color: #f5b748 !important;
}
.swipeButtons__left {
  padding: 1vw !important;
  color: #ec5e6f !important;
}
.swipeButtons__star {
  padding: 1vw !important;
  color: #62b4f9 !important;
}
.swipeButtons__right {
  padding: 1vw !important;
  color: #76e2b3 !important;
}
.swipeButtons__lightning {
  padding: 1vw !important;
  color: #915dd1 !important;
}
